conda.enabled = false   // conda environment will be build in the container
process.container = 'nextflow_workflow_template-wanglab_nf_template_with_r_and_docker'
docker.enabled = true
docker.runOptions = '-u \$(id -u):\$(id -g)' // '-u \$(id -u):\$(id -g)' is used to run the container as the current user
docker.temp = 'auto'